# =====================
# Environment variables
# =====================
.env

# =====================
# Go build output
# =====================
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# =====================
# Go test & coverage
# =====================
*.out
coverage/

# =====================
# Temporary files
# =====================
tmp/
temp/

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# OS files (Windows)
# =====================
Thumbs.db
Desktop.ini

# =====================
# Logs
# =====================
*.log

# =====================
# Others
# =====================
*.txt
note.txt